<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= simple_form_for Application.new do |f| %>
  <div class="field">
    <%= f.collection_select :trade_id, Trade.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.grouped_collection_select :job_id, Trade.order(:name), :jobs, :name, :id, :name, include_blank: true %>
  </div>

  <div class="actions"><%= f.submit "Edit From" %></div>
<% end %>
