<h1>New user</h1>

<%= simple_form_for @user do |f| %>
  <div class="field">
    <%= f.collection_select :trade_ids, Trade.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.grouped_collection_select :job_ids, Trade.order(:name), :jobs, :name, :id, :name, include_blank: true %>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>