
<h2>Home#index</h2>
<p>Find me in app/views/home/index.html.erb</p>
<h1>We have thousands of recommended tradesmen across the UK</h1>

<%= simple_form_for Application.new, url: '/jobs/show', :method => :get  do |f| %>
  <div class="field">
    <%= f.collection_select :trade_id, Trade.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.grouped_collection_select :job_id, Trade.order(:name), :jobs, :name, :id, :name, include_blank: true %>
  </div>

  <div class="actions"><%= f.submit "Next Step" %></div>

<% end %>

